# VS Code
.vscode/

# Java
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Cpp
*.exe
*.app
*.o

# Compiled Object files
*.slo
*.lo
*.o
*.obj